{% extends 'base.html.twig' %}

{% block title %}Planos index{% endblock %}

{% block body %}
    <h1>Planos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plano in planos %}
            <tr>
                <td>{{ plano.id }}</td>
                <td>{{ plano.nome }}</td>
                <td>{{ plano.descricao }}</td>
                <td>
                    <a href="{{ path('app_planos_show', {'id': plano.id}) }}">show</a>
                    <a href="{{ path('app_planos_edit', {'id': plano.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planos_new') }}">Create new</a>
{% endblock %}
